<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>


<main>
    <br>
        <div id="carritoDiv" class="container"> 
            <div class="alert alert-dark" role="alert">
                El carrito está vacío. Por favor, añade productos desde la tienda y vuelve a intentarlo.
            </div>
        </div>
        
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>


</body>
</html>