<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <!-- imagenes de la home -->
        <div class="container">
            <img src="https://raw.githubusercontent.com/lyvegama/imagenesVinilos/main/disenio/home/quienessomos.png"
                class="img-fluid" alt="...">
            <img src="https://raw.githubusercontent.com/lyvegama/imagenesVinilos/main/disenio/home/dondeestamos.png"
                class="img-fluid" alt="...">
            <img src="https://raw.githubusercontent.com/lyvegama/imagenesVinilos/main/disenio/home/envios.png"
                class="img-fluid" alt="...">
        </div>
    </main>

